@import '../../styles';
.color-logo{
    color: $orange-color;
}

.parent-vertical{
    position: relative;
    
}
@mixin transform($property){
    position: absolute;
    top: $property;
    transform: translateY(-$property);
}
.child-vertical{
    @include transform(50%);
}

.img-logo{
    display: block;
    img {
        width: 100%;
    }
}



.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0.5rem;
    padding-left: 0rem;
}
.bg-navbar{
    @extend %primary-share;
}
.navbar-light .navbar-nav .nav-link, .navbar-text {
    color: white;
}
.navbar-light .navbar-nav .nav-link:hover, .navbar-text:hover {
    color: black;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    /* border: 1px solid red; */
    li{
        display: inline-block;
    }
    li:first-child{
        margin-right: 10px;
    }
}



