<div class="container">
  <div class="row">
    <div class="col-md-2">
      <h1 class="color-logo">VIVACITÉ</h1>
    </div>
    <div class="col-md-4 parent-vertical">
      <p class="color-logo child-vertical">Énergie d'aujourd pour construire la ville demain</p>
      <br>
      <br>
    </div>
    <div class="col-md-3 parent-vertical">
      <div class="child-vertical">
          <ul>
              <li><i class="fa fa-envelope-o"></i></li>
              <li >
                <span>Contacter un conseiller</span>
              </li>
            </ul>
      </div>
      
    </div>
    <div class="col-md-3 img-logo">
      <img src="../../assets/img/smart-city.png" alt="">
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg navbar-light bg-navbar">
  <div class="container">
    <a class="navbar-brand" href="#"><i class="fa fa-home"></i></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">| MON BILAN</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">| MES MISSIONS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">| MES CONSOS</a>
        </li>
      </ul>
      <span class="navbar-text">
        <i class="fa fa-user"></i> Bonjour, Roberto Rastapopoulos <i class="fa fa-angle-down"></i>
      </span>
    </div>
  </div>
</nav>