@import '../../styles';
@import './../header/header.component.scss';

.custom-blue-color{
    color: $light-blue-color;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    li{
        display: inline-block;
        margin-right: 10px;
    }
    a {
        /* display: block; */
        text-decoration: none;
        /* padding: 14px 30px 14px 0px;
        text-align: center; */
    }
}

.pull-right{
    display: block;
    float: right;
    span{
        color: $light-blue-color;
    }
}
#title, .custom-card-text{
    color: $grey-color;
}
