<div class="container">
  <br>
  <div class="row">
    <div class="col-md-6">
      <ul>
        <li><i class="fa fa-arrow-left custom-blue-color"></i></li>
        <li><b>Retour</b></li>
        <li>
          <p>/ Mes missions</p>
        </li>
      </ul>
    </div>
    <div class="col-md-6">
      <div class="pull-right">
        <ul>
          <li>
            <p>| Mon logoment: </p>
          </li>
          <li> <i class="fa fa-male"><a href=""><span> 4 persions</span></a></i></li>
          <li><i class="fa fa-home"><a href=""><span> 80m </span></a></i></li>
          <li><i class="fa fa-cog"><a href=""><span> 1995 </span></a></i></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-md-4 img-logo">
        <img
          src="http://165.227.148.76:1337/files/aMY8IBmDF9/42147240c9417caada8e7337c7d0892a_891a45debd8e45879b6d66ee4d5cdb40_gamedrive.png"
          alt="">
        <div class="pull-right">
          <ul>
            <li>
              <p> Partager cette mission </p>
            </li>
            <li><i class="fa fa-facebook"></i></li>
            <li><i class="fa fa-twitter"></i></li>
            <li><i class="fa fa-google-plus"></i></li>
          </ul>
        </div>
      </div>
      <div class="col-md-8" style="border-left: 1px solid grey;">
        <b id="title">Votre mission</b>
        <div class="row">
          <div class="col-md-7">
            <h2>Shower to the people !</h2>
          </div>
          <div class="col-md-5">
            <button class="btn custom-primary-btn" style="float: right">J'ACCEPT CETTE MISSION
              <i class="fa fa-crosshairs"></i></button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <ul>
              <li><span> Difficulte </span><i class="fa fa-star"></i> <i class="fa fa-star" style="color: grey"></i> <i
                style="color: grey" class="fa fa-star"></i></li>
              <li><span> Cout </span><i class="fa fa-star"></i> <i class="fa fa-star" style="color: grey"></i> <i class="fa fa-star" style="color: grey"></i>
              </li>
              <li> <i class="fa fa-clock-o"></i><span> Mois </span></li>
              <li> <span> Ecobilan </span> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star" style="color: grey"></i></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <br>
            <p class="custom-card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel, debitis, praesentium
              deserunt nemo nostrum, cupiditate delectus qui quia nulla tenetur unde repellat fugiat ea beatae
              molestiae!
              Saepe eaque recusandae eveniet?</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>