@import './../header/header.component.scss';
@import './../card/card.component.scss';
.bgr-card{
    background: white;
}
/* ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.item-li{
    float: left;
    margin-right: 10px;
}
.item-li a{
    display: block;
    text-decoration: none;
    padding: 14px 30px 14px 0px;
    text-align: center;
} */

/* 


/* li[_ngcontent-c3] a[_ngcontent-c3] {
    display: block;
    text-decoration: none;
    padding: 14px 30px 14px 0px;
    text-align: center;
} */
.tab-content>.tab-pane {
    background: $grey-color;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: black;
    background-color: white;
    border-bottom: 3px solid #4FA0D6;
}
.nav-pills .nav-link {
    border-radius: 0rem;
}