<div class="container">
  <ul class="nav nav-pills" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="pill" href="#home">Défis à relever</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="pill" href="#menu1">Comment ca fonctionne ?</a>
    </li>
  </ul>
</div>
<!-- Tab panes -->
<div class="container-fluid tab-content">
  <div id="home" class="tab-pane active"><br>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row bgr-card">
            <div class="col-md-3 img-logo">
              <br>
              <img
                src="http://165.227.148.76:1337/files/aMY8IBmDF9/42147240c9417caada8e7337c7d0892a_891a45debd8e45879b6d66ee4d5cdb40_gamedrive.png"
                alt="" onError="this.src='assets/img/error-img.jpg';">
            </div>
            <div class="col-md-9">
              <br>
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6">
                      <h3>5 mn chrono</h3>
                    </div>
                    <div class="col-md-6">
                      <div class="pull-right">
                        <ul>
                          <li>
                            <p> Partager cette mission </p>
                          </li>
                          <li><i class="fa fa-facebook"></i></li>
                          <li><i class="fa fa-twitter"></i></li>
                          <li><i class="fa fa-google-plus"></i></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <ul>
                        <li><a href="#">Decription</a></li>
                        <li><a href="#">Trucs & Astuces</a></li>
                        <li><a href="#">Ma progression: 75%</a></li>
                      </ul>
                    </div>

                    <div class="col-md-12">
                      <br>
                      <p class="custom-card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vel,
                        debitis,
                        praesentium
                        deserunt nemo nostrum, cupiditate delectus qui quia nulla tenetur unde repellat fugiat ea beatae
                        molestiae!
                        Saepe eaque recusandae eveniet?</p>
                    </div>
                    <div class="col-md-12">
                      <br>
                      <ul>
                        <li>
                          <p>Gagnez </p>
                        </li>
                        <li>
                          <p style="color: red;">8 points</p>
                        </li>
                        <li><button class="btn btn-sm custom-red-btn">PROGRESSER</button></li>
                        <li><button class="btn btn-sm custom-grey-btn">ARRETER CE DEFI</button></li>
                      </ul>
                    </div>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row bgr-card">
            <div class="col-md-3 img-logo">
              <br>
              <img
                src="http://165.227.148.76:1337/files/aMY8IBmDF9/42147240c9417caada8e7337c7d0892a_891a45debd8e45879b6d66ee4d5cdb40_gamedrive.png"
                alt="">
            </div>
            <div class="col-md-9">
              <br>
              <div class="row">
                <div class="col-md-12">
                  <div class="row">
                    <div class="col-md-6">
                      <h3>5 mn chrono</h3>
                    </div>
                    <div class="col-md-6">
                      <div class="pull-right">
                        <ul>
                          <li>
                            <p> Partager cette mission </p>
                          </li>
                          <li><i class="fa fa-facebook"></i></li>
                          <li><i class="fa fa-twitter"></i></li>
                          <li><i class="fa fa-google-plus"></i></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <ul>
                        <li class="item-li"><a href="#">Decription</a></li>
                        <li class="item-li"><a href="#">Trucs & Astuces</a></li>
                        <li class="item-li"><a href="#">Ma progression: 75%</a></li>
                      </ul>
                      
                    </div>
                  
                      <div class="col-md-12">
                        <br>
                        <ul>
                          <li class="item-li" style="width: 52px;" >
                            <img src="../../assets/img/oval (1).svg" alt="" width="50" height="50" (mouseover)="zeroPercentOver()" (mouseout)="zeroPercentOut()" >
                            <h6 style="text-align: center; margin-top: -35px;" [style.color]="zero ? '#fa8c0f' : 'grey'">0%</h6>
                            <br>
                            <p style="text-align: center; color: #fa8c0f;">C'est parti !</p>
                          </li>
                          <li class="item-li" style="width: 52px;">
                            <img src="../../assets/img/oval (2).svg" alt="" width="50" height="50" (mouseover)="twentyfivePercentOver()" (mouseout)="twentyfivePercentOut()">
                            <h6 style="text-align: center; margin-top: -35px;" [style.color]="twentyfive ? '#FFDA44' : 'grey'">25%</h6>
                            <br>
                            <p style="text-align: center; color: #FFDA44;">Encore quelques
                              <!-- efforts -->
                            </p>
                          </li>
                          <li class="item-li" style="width: 52px;">
                            <img src="../../assets/img/oval (3).svg" alt="" width="50" height="50" (mouseover)="fiftyPercentOver()" (mouseout)="fiftyPercentOut()">
                            <h6 style="text-align: center; margin-top: -35px;" [style.color]="fifty ? '#45ff61' : 'grey'">50%</h6>
                            <br>
                            <p style="text-align: center; color: #45ff61;">Vous êtes en
                              <!-- bonne voie -->
                            </p>
                          </li>
                          <li class="item-li" style="width: 52px;">
                            <img src="../../assets/img/oval.svg" alt="" width="50" height="50" (mouseover)="seventyfivePercentOver()" (mouseout)="seventyfivePercentOut()">
                            <h6 style="text-align: center; margin-top: -35px;" [style.color]="seventyfive ? '#4554ff' : 'grey'">75%</h6>
                            <br>
                            <p style="text-align: center;">Vous y êtes <!-- presque ! --></p>
                          </li>
                          <li class="item-li" style="width: 52px;">
                            <img src="../../assets/img/oval.svg" alt="" width="50" height="50" (mouseover)="onehundredPercentOver()" (mouseout)="onehundredPercentOut()">
                            <h6 style="text-align: center; margin-top: -35px;" [style.color]="onehundred ? '#ff45e3' : 'grey'">100%</h6>
                            <br>
                            <p style="text-align: center;">Bravo Défi <!-- terminé --></p>
                          </li>
                        </ul>
                      </div>

                    <div class="col-md-12">

                      <br>
                      <ul>
                        <li>
                          <p>Gagnez </p>
                        </li>
                        <li>
                          <p style="color: red;">8 points</p>
                        </li>
                        <li><button class="btn btn-sm custom-orange-btn">PROGRESSER</button></li>
                        <li><button class="btn btn-sm custom-primary-btn">ARRETER CE DEFI</button></li>
                      </ul>

                    </div>
                    <br>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
        </div>

      </div>
    </div>
  </div>
  <div id="menu1" class="tab-pane fade"><br>
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h3>Menu 1</h3>
          <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          </p>
        </div>
      </div>

    </div>

  </div>
</div>