/* You can add global styles to this file, and also import other style files */
$orange-color: #FB8C01;
$primary-color: #8EC319;
$light-blue-color: #4FA0D6; 
$grey-color: #CDCDCD;
$red-color: red;
%primary-share{
    background-color: $primary-color;
    color: white;
}
.custom-primary-btn{
    @extend %primary-share;
}
.custom-orange-btn{
    @extend %primary-share;
    background-color: $orange-color;
}
.custom-grey-btn{
    @extend %primary-share;
    background-color: $grey-color;
}
.custom-red-btn{
    @extend %primary-share;
    background-color: white;
    color: $red-color;
    border: 1px solid $red-color;
}